

<ion-header>
  <ion-toolbar>
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jaqueline Lopes</ion-card-title>
      <ion-card-subtitle>Código da Turma: ADS0301M</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/profile.jpg" alt="Minha Foto" style="width: 100%; border-radius: 10px;">
    </ion-card-content>
  </ion-card>
  <ion-content style="margin-top: 30px;">
    <ion-text class="descricao">
      <p>
        Meu respeito é para todos meu sorriso não.
      </p>
    </ion-text>
  </ion-content>
  


